body{
    width: 100vw;
    height: 100vh;
    background-color: pink;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
  }
  #Click {
      background-color: brown;
  }